{% load static %}
<!DOCTYPE html>
<head>
    <title>View Requests</title>
</head>

<body>
    <link rel="stylesheet" href={% static 'css/view-requests.css'%}>
    <script src={% static 'js/view-requests.js' %}></script> 
    {% if status == "rejected" %}
        <div class="rejected">
            <p>{{name}} has been rejected!</p>
        </div>
    {% endif %}
    {% if status == "accepted" %}
        <div class="accepted">
            <p>{{name}} has been accepted!</p>
        </div>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Discord Username</th>
                <th>Minecraft Username</th>
                <th>Platform</th>
                <th>Accepted</th>
            </tr>
        </thead>
    {% for request in forms %}
        <tbody>
            <tr>
                <td>{{request.first_name}}</td>
                <td>{{request.discord}}</td>
                <td>{{request.username}}</td>
                <td>{{request.platform}}</td>
                <td>{{request.accepted}}</td>
                <td>
                    <form action="" method="post" id="submission">
                        {% csrf_token %}
                        <input type="hidden" name="date_created" value="{{request.date_created}}">
                        <button type="submit" onclick="clicked(event, 'accept')" name="option" value="accept">Accept</button>
                        <br>
                        <button type="submit" onclick="clicked(event, 'reject')" name="option" value="reject" style="background-color: red;">Reject</button>
                    </form>
                </td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
</body>