<!DOCTYPE html>
<head>
    <title>View Requests</title>
</head>

<body>
    <style>
        html {
            border: 1px solid black;
            margin: 5px;
        }
        tr {
            border: 1px solid black;
        }
        th, td {
            border-right: 1px solid black;
            padding: 5px;
        }
    </style>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Discord Username</th>
                <th>Minecraft Username</th>
                <th>Platform</th>
                <th>Accepted</th>
            </tr>
        </thead>
    {% for request in forms %}
        <tbody>
            <tr>
                <td>{{request.first_name}}</td>
                <td>{{request.discord}}</td>
                <td>{{request.username}}</td>
                <td>{{request.platform}}</td>
                <td>{{request.accepted}}</td>
                <td>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="date_created" value="{{request.date_created}}">
                        <input type="submit" value="Accept">
                    </form>
                </td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
</body>